In [194]:
# Importing important Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options   
from selenium.common.exceptions import InvalidSelectorException,NoSuchElementException

# Ques-1 Scrape the details of most viewed videos on YouTube from Wikipedia:

In [2]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [3]:
#specifying the url of the web_page
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [4]:
#openning the web page  using the web driver
driver.get(url)

In [5]:
#Creating list item to store the required values
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [6]:
#Extracting the rank 
rank=driver.find_elements_by_xpath("//td[1][@align='center']")

for i in rank[0:30]:
    rank=i.text
    Rank.append(rank)

In [7]:
#Extracting the Name of the video
Name_=driver.find_elements_by_xpath("//td[2]")

for i in Name_[0:30]:
    name=i.text
    Name.append(name)

In [8]:
#Extracting the artist name
art=driver.find_elements_by_xpath("//td[3]")

for i in art[0:30]:
    _art=i.text
    Artist.append(_art)

In [9]:
#Extracting the Uploat date
day=driver.find_elements_by_xpath("//td[5]")

for i in day[0:30]:
    up=i.text
    Upload_date.append(up)

In [10]:
#Extracting the Uploat date
view=driver.find_elements_by_xpath("//td[4]")

for i in view[0:30]:
    _view=i.text
    Views.append(_view)

In [11]:
print(len(Rank),len(Name),len(Artist),len(Views),len(Upload_date))

30 30 30 30 30

In [12]:
Youtube_df=pd.DataFrame({})

In [13]:
Youtube_df['Rank']=Rank
Youtube_df['Video_Name']=Name
Youtube_df['Artist']=Artist
Youtube_df['Views_in_Billions']=Views
Youtube_df['Upload_date']=Upload_date

In [14]:
Youtube_df

,Rank,Video_Name,Artist,Views_in_Billions,Upload_date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.39,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.09,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.10,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.85,"April 6, 2015"
4,5.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.38,"January 31, 2012"
5,6.,"""Johny Johny Yes Papa""[36]",LooLoo Kids,4.37,"October 8, 2016"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.03,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.88,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.66,"February 27, 2018"
9,10.,"""Sorry""[41]",Justin Bieber,3.37,"October 22, 2015"
10,11.,"""Bath Song""[42]",Cocomelon – Nursery Rhymes,3.34,"May 2, 2018"
11,12.,"""Sugar""[43]",Maroon 5,3.34,"January 14, 2015"
12,13.,"""Phonics Song with Two Words""[44]",ChuChu TV,3.30,"March 6, 2014"
13,14.,"""Roar""[45]",Katy Perry,3.22,"September 5, 2013"
14,15.,"""Thinking Out Loud""[46]",Ed Sheeran,3.13,"October 7, 2014"
15,16.,"""Counting Stars""[47]",OneRepublic,3.13,"May 31, 2013"
16,17.,"""Shake It Off""[48]",Taylor Swift,2.99,"August 18, 2014"
17,18.,"""Dame Tu Cosita""[49]",El Chombo featuring Cutty Ranks,2.94,"April 5, 2018"
18,19.,"""Bailando""[50]",Enrique Iglesias featuring Descemer Bueno and ...,2.94,"April 11, 2014"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.93,"March 22, 2015"
20,21.,"""Faded""[52]",Alan Walker,2.92,"December 3, 2015"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.92,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.91,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.85,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.82,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.75,"October 22, 2015"
26,27.,"""Blank Space""[58]",Taylor Swift,2.68,"November 10, 2014"
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,2.66,"June 4, 2010"
28,29.,"""Perfect""[60]",Ed Sheeran,2.65,"November 9, 2017"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.60,"November 18, 2016"

In [15]:
driver.close()

# Ques-2 Scrape the details team India’s international fixtures from bcci.tv.

In [66]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [67]:
#specifying the url of the web_page
url="https://www.bcci.tv"

In [68]:
#openning the web page  using the web driver
driver.get(url)

In [69]:
#creating list item to store the values
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [70]:
driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]").click()

In [71]:
driver.find_element_by_xpath("//li[1][@class='drop-down__option  ']/a").click()

In [72]:
_series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")

for i in _series:
    _ser=i.text
    #print(_ser)
    Series.append(_ser)

In [73]:
_match=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")

for i in _match:
    _mat=i.text
    #print(_mat)
    Match.append(_mat)

In [95]:
_date=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/span[1]/strong")

for i in _date:
    _dat=i.text
    #print(_dat)
    Date.append(_dat)

In [78]:
_tim_=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")

for i in _tim_:
    _dat=i.text
    #print(_dat)
    Time.append(_dat)

In [79]:
_place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span[1]")

for i in _place:
    _mat=i.text
    #print(_mat)
    Place.append(_mat)

In [96]:
print(len(Series),len(Match),len(Date),len(Time),len(Place))

20 20 20 20 20

In [97]:
Match_df=pd.DataFrame({})

In [98]:
Match_df['Series']=Series
Match_df['Match']=Match
Match_df['Date']=Date
Match_df['Time']=Time
Match_df['Place']=Place

In [99]:
Match_df

,Series,Match,Date,Time,Place
0,AUSTRALIA V INDIA 2020/21,1st Test,Thursday 17th December,09:30 IST,"Adelaide Oval, Adelaide"
1,AUSTRALIA V INDIA 2020/21,2nd Test,Saturday 26th December,05:00 IST,"Melbourne Cricket Ground, Melbourne"
2,AUSTRALIA V INDIA 2020/21,3rd Test,Thursday 7th January,05:00 IST,"Sydney Cricket Ground, Sydney"
3,AUSTRALIA V INDIA 2020/21,4th Test,Friday 15th January,05:30 IST,"Brisbane Cricket Ground, Brisbane"
4,INDIA V ENGLAND 2021,1st Test,Friday 5th February,09:30 IST,"M. A. Chidambaram Stadium, Chennai"
5,INDIA V ENGLAND 2021,2nd Test,Saturday 13th February,09:30 IST,"M. A. Chidambaram Stadium, Chennai"
6,INDIA V ENGLAND 2021,3rd Test,Wednesday 24th February,14:00 IST,"Sardar Patel Stadium, Ahmedabad"
7,INDIA V ENGLAND 2021,4th Test,Thursday 4th March,09:30 IST,"Sardar Patel Stadium, Ahmedabad"
8,INDIA V ENGLAND 2021,1st T20I,Friday 12th March,18:00 IST,"Sardar Patel Stadium, Ahmedabad"
9,INDIA V ENGLAND 2021,2nd T20I,Sunday 14th March,18:00 IST,"Sardar Patel Stadium, Ahmedabad"
10,INDIA V ENGLAND 2021,3rd T20I,Tuesday 16th March,18:00 IST,"Sardar Patel Stadium, Ahmedabad"
11,INDIA V ENGLAND 2021,4th T20I,Thursday 18th March,18:00 IST,"Sardar Patel Stadium, Ahmedabad"
12,INDIA V ENGLAND 2021,5th T20I,Saturday 20th March,18:00 IST,"Sardar Patel Stadium, Ahmedabad"
13,INDIA V ENGLAND 2021,1st ODI,Tuesday 23rd March,14:30 IST,"Maharashtra Cricket Association Stadium, Pune"
14,INDIA V ENGLAND 2021,2nd ODI,Friday 26th March,14:30 IST,"Maharashtra Cricket Association Stadium, Pune"
15,INDIA V ENGLAND 2021,3rd ODI,Sunday 28th March,09:30 IST,"Maharashtra Cricket Association Stadium, Pune"
16,ENGLAND V INDIA 2021,1st Test,Wednesday 4th August,15:30 IST,"Trent Bridge, Nottingham"
17,ENGLAND V INDIA 2021,2nd Test,Thursday 12th August,15:30 IST,"Lord's, London"
18,ENGLAND V INDIA 2021,3rd Test,Wednesday 25th August,15:30 IST,"Headingley, Leeds"
19,ENGLAND V INDIA 2021,4th Test,Thursday 2nd September,15:30 IST,"The Oval, London"

In [100]:
driver.close()

# Ques-3 Scrape the details of selenium exception from guru99.com.

In [28]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [29]:
#specifying the url of the web_page
url="https://www.guru99.com/"

In [30]:
#opening the web page
driver.get(url)

In [31]:
#Clicking the selenium option in the testing column
driver.find_element_by_xpath("//ul[@class='menu']/li[3]").click()

In [32]:
#clicking the selenium exception column 
driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']/strong").click()

In [33]:
#craeting list to store the Exception name and its description
Excep_name=[]
Excep_Description=[]

In [69]:
#extracting the exception name web element 
_name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")

In [70]:
#checking total number of elements extracted
len(_name)

42

In [72]:
#extracting the exception name 
for i in _name:
    _mat=i.text
    #print(_mat)
    Excep_name.append(_mat)

In [73]:
#extracting the exception description web element
_des=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")

In [74]:
#checking total number of elements extracted
len(_des)

42

In [76]:
#extracting the exception description
for i in _des:
    _mat=i.text
    #print(_mat)
    Excep_Description.append(_mat)

In [81]:
#deleting the values at o position as they are not required
Excep_name.pop(0)

'Exception name'

In [82]:
#creating the dataframe to store the record
Excep_df=pd.DataFrame({})

In [83]:
#storing the value in the dataframe
Excep_df['Name of the Exception']=Excep_name
Excep_df['Description']=Excep_Description

In [84]:
#prining the dataframe
Excep_df

,Name of the Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [20]:
driver.close()

# Ques-4 Scrape the details of State-wise GDP of India from statisticstime.com.

In [2]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [3]:
#SPECIFYING THE URL OF THE WEB PAGE
url="http://statisticstimes.com"

In [4]:
#opening the webpage
driver.get(url)

In [11]:
#clicking the economy button 
driver.find_element_by_xpath("//div[@class='navbar']/div[2]").click()

In [13]:
#clicking the India in the dropdown menu appeared after performing above click
driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[2]").click()

In [14]:
#selecting the option "GDP OF INDIAN STATES" IN INDIAN STATES DIVISION
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]").click()

In [105]:
#CREATING LIST TO STORE THE VALUES EXTRACTED BY WEB ELEMENT
RANK=[]
STATE=[]
GSDP_1=[]
GSDP_2=[]
SHARE=[]
GDP=[]

In [106]:
#EXTRACTING THE RANK OF THE STATES
_rank=driver.find_elements_by_xpath("//td[@class='data1']")

for i in _rank[0:33]:
    _mat=i.text
    #print(_mat)
    RANK.append(_mat)

In [107]:
#EXTRACTING THE STATES NAME
_state=driver.find_elements_by_xpath("//td[@class='name']")

for i in _state[0:33]:
    _mat=i.text
    #print(_mat)
    STATE.append(_mat)

In [108]:
#EXTRACTING GDSP(18-19)
_gdp_18_19=driver.find_elements_by_xpath("//td[3][@class='data']")

for i in _gdp_18_19[0:33]:
    _mat=i.text
    #print(_mat)
    GSDP_1.append(_mat)

In [109]:
#EXTARCTING GDSP(17-18)
_gdp_17_18=driver.find_elements_by_xpath("//td[@class='data sorting_1']")

for i in _gdp_17_18[0:33]:
    _mat=i.text
    #print(_mat)
    GSDP_2.append(_mat)

In [110]:
#EXTRACTING SHARE(2017)
share_=driver.find_elements_by_xpath("//td[5][@class='data']")
for i in share_[0:33]:
    _mat=i.text
    #print(_mat)
    SHARE.append(_mat)

In [111]:
#EXTRACTING GDP($_bILLION)
GDP_billion=driver.find_elements_by_xpath("//td[6][@class='data']")

for i in GDP_billion[0:33]:
    _mat=i.text
    #print(_mat)
    GDP.append(_mat)

In [113]:
#CHECKING WETHER ALL THE LIST IS OF SAME LENGTH BEFORE CREATING DATAFRAME
print(len(RANK),len(STATE),len(GSDP_1),len(GSDP_2),len(SHARE),len(GDP))

33 33 33 33 33 33

In [114]:
#CREATING THE DATAFRAME
gdp_df=pd.DataFrame({})

In [115]:
#STORING THE VALUES IN DATAFRAME
gdp_df['Rank']=RANK
gdp_df['State']=STATE
gdp_df['GSDP_18-19']=GSDP_1
gdp_df['GSDP_17_18']=GSDP_2
gdp_df['Share_2017']=SHARE
gdp_df['GDP($_billion)']=GDP

In [116]:
#PRINTING THE DATAFRAME
gdp_df

,Rank,State,GSDP_18-19,GSDP_17_18,Share_2017,GDP($_billion)
0,1,Maharashtra,-,"2,411,600",14.11%,374.196
1,2,Tamil Nadu,"1,664,159","1,461,841",8.55%,226.827
2,3,Uttar Pradesh,"1,542,432","1,376,324",8.05%,213.558
3,4,Karnataka,"1,535,224","1,350,257",7.90%,209.513
4,5,Gujarat,-,"1,314,680",7.69%,203.993
5,6,West Bengal,"1,177,586","999,585",5.85%,155.101
6,7,Rajasthan,"929,124","835,558",4.89%,129.650
7,8,Andhra Pradesh,"933,402","809,547",4.74%,125.614
8,9,Telangana,"865,688","753,811",4.41%,116.965
9,10,Madhya Pradesh,"809,327","728,242",4.26%,112.998
10,11,Kerala,-,"700,532",4.10%,108.698
11,12,Delhi,"779,652","690,098",4.04%,107.079
12,13,Haryana,"707,126","626,054",3.66%,97.142
13,14,Bihar,"557,490","484,740",2.84%,75.215
14,15,Punjab,"521,861","479,141",2.80%,74.346
15,16,Odisha,"485,376","436,374",2.55%,67.710
16,17,Assam,-,"288,494",1.69%,44.764
17,18,Chhattisgarh,"311,660","284,194",1.66%,44.097
18,19,Jharkhand,"307,581","276,243",1.62%,42.863
19,20,Uttarakhand,"245,895","222,836",1.30%,34.576
20,21,Himachal Pradesh,"153,181","140,613",0.82%,21.818
21,22,Jammu & Kashmir,-,"138,488",0.81%,21.489
22,23,Goa,"77,172","70,493",0.41%,10.938
23,24,Tripura,-,"46,133",0.27%,7.158
24,25,Chandigarh,-,"38,806",0.23%,6.021
25,26,Puducherry,"36,656","32,962",0.19%,5.115
26,27,Meghalaya,-,"30,790",0.18%,4.778
27,28,Nagaland,-,"24,281",0.14%,3.768
28,29,Manipur,-,"23,968",0.14%,3.719
29,30,Sikkim,"26,786","23,495",0.14%,3.646
30,31,Arunachal Pradesh,-,"22,045",0.13%,3.421
31,32,Mizoram,-,"19,457",0.11%,3.019
32,33,Andaman & Nicobar Islands,-,"7,871",0.05%,1.221

In [177]:
driver.close()

# Ques-5 Scrape the details of trending repositories on Github.com.

In [201]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [202]:
#Specifying the url of the webpage
url="https://github.com"

In [203]:
#opening the webpage
driver.get(url)

In [204]:
#Clicking the Explore option in the Menubar column
driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]").click()

In [205]:
#Clicking the selenium option in the testing column
driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]").click()

In [206]:
#Creating the list to store the values extracted from the web element
title=[]
description=[]
c_count=[]

In [207]:
title_=driver.find_elements_by_xpath("//article[@class='Box-row']/h1")

for i in title_:
    _mat=i.text
    #print(_mat)
    title.append(_mat)

In [237]:
w=[]

In [238]:
#extracting lang
lang_=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")

#storing the lang value in w

w.append(lang_[0].text)
w.append(lang_[1].text)
w.append(lang_[2].text)
w.append("-")
w.append(lang_[3].text)
w.append(lang_[4].text)
w.append(lang_[5].text)
w.append(lang_[6].text)
w.append(lang_[7].text)
w.append("-")
w.append("-")
w.append(lang_[8].text)
w.append(lang_[9].text)
w.append("-")
w.append(lang_[10].text)
w.append(lang_[11].text)
w.append(lang_[12].text)
w.append(lang_[13].text)
w.append(lang_[14].text)
w.append(lang_[15].text)
w.append("-")
w.append(lang_[16].text)
w.append(lang_[17].text)
w.append(lang_[18].text)
w.append(lang_[19].text)

In [241]:
#Extracting description
descrp_=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")

description.append("-")
description.append(descrp_[0].text)
description.append(descrp_[1].text)
description.append(descrp_[2].text)
description.append(descrp_[3].text)
description.append(descrp_[4].text)
description.append("-")
description.append(descrp_[5].text)
description.append(descrp_[6].text)
description.append(descrp_[7].text)
description.append(descrp_[8].text)
description.append(descrp_[9].text)
description.append(descrp_[10].text)
description.append(descrp_[11].text)
description.append(descrp_[12].text)
description.append(descrp_[13].text)
description.append(descrp_[14].text)
description.append(descrp_[15].text)
description.append(descrp_[16].text)
description.append(descrp_[17].text)
description.append(descrp_[18].text)
description.append(descrp_[19].text)
description.append(descrp_[20].text)
description.append(descrp_[21].text)
description.append(descrp_[22].text)

In [250]:
#extracting contributors count
count=driver.find_elements_by_xpath("//a[2][@class='muted-link d-inline-block mr-3']")
for i in count:
    _mat=i.text
    #print(_mat)
    c_count.append(_mat)

In [251]:
#checking the len og each list before creating database
print(len(title),len(w),len(description),len(c_count))

25 25 25 25

In [252]:
#craeting dataframe
github_df=pd.DataFrame({})

github_df['Title']=title
github_df['Language_used']=w
github_df['Description']=description
github_df['Countributors_count']=c_count

github_df

,Title,Language_used,Description,Countributors_count
0,getmeli / meli,TypeScript,-,20
1,Netflix / consoleme,Python,ConsoleMe consolidates the management of multi...,39
2,rocky-linux / rockylinux.org,HTML,The official website of the Rocky Linux Project.,47
3,labuladong / fucking-algorithm,-,刷算法全靠套路，认准 labuladong 就够了！English version supp...,"14,403"
4,Pierian-Data / Complete-Python-3-Bootcamp,Jupyter Notebook,Course Files for Complete Python 3 Bootcamp Co...,"48,629"
5,aapatre / Automatic-Udemy-Course-Enroller-GET-...,Python,Do you want to LEARN NEW STUFF for FREE? Don't...,149
6,rocky-linux / infrastructure,HTML,-,28
7,coolsnowwolf / lede,C,Lean's OpenWrt source,"12,259"
8,rougier / nano-emacs,Emacs Lisp,GNU Emacs / N Λ N O - Emacs made simple,27
9,RobinLinus / snapdrop,-,A Progressive Web App for local file sharing,481
10,Olshansk / interview,-,Everything you need to prepare for your techni...,"2,804"
11,rocky-linux / rocky,JavaScript,Rocky Linux is a community enterprise Operatin...,207
12,iperov / DeepFaceLab,Python,DeepFaceLab is the leading software for creati...,"5,099"
13,projectdiscovery / proxify,-,Swiss Army knife Proxy tool for HTTP/HTTPS tra...,19
14,EbookFoundation / free-programming-books,Go,📚 Freely available programming books,"39,585"
15,n7olkachev / imgdiff,Go,Faster than the fastest in the world pixel-by-...,18
16,knownsec / shellcodeloader,C++,shellcodeloader,136
17,stenzek / duckstation,C++,Fast PlayStation 1 emulator for PC and Android,63
18,commaai / openpilot,C++,openpilot is an open source driver assistance ...,"4,454"
19,sphawes / index,C++,The Index is an open source pick and place mac...,103
20,willmcgugan / rich,-,Rich is a Python library for rich text and bea...,477
21,danistefanovic / build-your-own-x,Python,🤓 Build your own (insert technology here),"7,902"
22,vinta / awesome-python,Python,"A curated list of awesome Python frameworks, l...","17,870"
23,brndnmtthws / thetagang,Python,ThetaGang is an IBKR bot for collecting money,90
24,YosysHQ / yosys,C++,Yosys Open SYnthesis Suite,456

In [253]:
driver.close()

# Ques-6 Scrape the details of top 100 songs on billiboard.com.

In [2]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [3]:
#saving the url of the webpage
url="https://www.billboard.com/"

In [4]:
#opening the webpage
driver.get(url)

In [5]:
#creating list to store values extracted from web element
Name=[]
Artist=[]
LW_rank=[]
peak_rank=[]
Week=[]

In [12]:
#clicking on the chart menu
driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/header/div/ul/li[1]/a").click()

In [13]:
#clicking the hot 1oo list
driver.find_element_by_xpath("//div[@class='charts-landing__info--view-chart-holder']").click()

In [16]:
#extracting the name of the song
name_=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")


for i in name_:
    _mat=i.text
    #print(_mat)
    Name.append(_mat)

In [20]:
#extracting the artist name
art_=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")


for i in art_:
    _mat=i.text
    #print(_mat)
    Artist.append(_mat)

In [22]:
#extracting the last week rank 
lw_=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")


for i in lw_:
    _mat=i.text
    #print(_mat)
    LW_rank.append(_mat)

In [24]:
#extracting the last peak rank 
peak_=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")


for i in peak_:
    _mat=i.text
    #print(_mat)
    peak_rank.append(_mat)

In [27]:
#extracting the week on board
week_=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")


for i in week_:
    _mat=i.text
    #print(_mat)
    Week.append(_mat)

In [28]:
#checking the len og each list before creating database
print(len(Name),len(Artist),len(LW_rank),len(peak_rank),len(Week))

100 100 100 100 100

In [29]:
#creating dataframe
Billboard_df=pd.DataFrame({})

Billboard_df['Song_Name']=Name
Billboard_df['Artist_Name']=Artist
Billboard_df['Last_week_rank']=LW_rank
Billboard_df['Peak_rank']=peak_rank
Billboard_df['Weeks_on_board']=Week

Billboard_df

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_board
0,Mood,24kGoldn Featuring iann dior,2,1,17
1,All I Want For Christmas Is You,Mariah Carey,14,1,40
2,Positions,Ariana Grande,4,1,6
3,Rockin' Around The Christmas Tree,Brenda Lee,21,2,35
4,Dakiti,Bad Bunny & Jhay Cortez,15,5,5
...,...,...,...,...,...
95,Back To The Streets,Saweetie Featuring Jhene Aiko,85,76,3
96,Martin & Gina,Polo G,89,61,18
97,Hole In The Bottle,Kelsea Ballerini,87,72,8
98,So Done,The Kid LAROI,100,59,6
99,Bichota,Karol G,97,97,2

In [30]:
driver.close()

# Ques-7

Scrape the details of Data science recruiters from naukri.com.
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code.

In [343]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [344]:
#saving the url of the webpage
url="https://www.naukri.com"

In [345]:
#opening the webpage
driver.get(url)

In [346]:
#clicking the recruiters tag
driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]").click()

In [347]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [348]:
#storing the input tag in variable
dd=driver.find_elements_by_css_selector("#skill > div.sWrap.lftBrd > div.inpWrap > input")

In [349]:
#applying for loop on dd as we dont know which input tag will take text
for d in dd:
    d.send_keys("Data Science")

In [350]:
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [351]:
#creating the list to store the value extracted from web element
Name=[]
designation=[]
Company=[]
skill=[]
location=[]

In [352]:
#extracting the name
name_=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")

for i in name_:
    _mat=i.text
    #print(_mat)
    Name.append(_mat)

In [353]:
#extracting the designation
desig_=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")

for i in desig_:
    _mat=i.text
    #print(_mat)
    designation.append(_mat)

In [354]:
#extracting the skill
skill_=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")

for i in skill_:
    _mat=i.text
    #print(_mat)
    skill.append(_mat)

In [355]:
#extracting the Company
comp_=driver.find_elements_by_xpath("//a[2][@class='ellipsis']")

for i in comp_:
    _mat=i.text
    #print(_mat)
    Company.append(_mat)

In [360]:
#extracting the Location
loca_=driver.find_elements_by_xpath("//small[@class='ellipsis']")

for i in loca_:
    _mat=i.text
    #print(_mat)
    location.append(_mat)

In [367]:
#checking the length of the list before importing to the dataframe
print(len(Name),len(designation),len(Company),len(skill),len(location))

50 50 50 50 50

In [368]:
#creating database
datascience_df=pd.DataFrame({})

datascience_df['Name']=Name
datascience_df['Designation']=designation
datascience_df['Company']=Company
datascience_df['Skill']=skill
datascience_df['Loaction']=location

datascience_df

,Name,Designation,Company,Skill,Loaction
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Rakhi,Recruitment Consultant,Walkingtext Private Limited,"Ites, Data Science, Cloud, Iot",Bengaluru / Bangalore
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Pooja Seth,IT Technical Recruiter,RAPS iTech,"B.tech, Hr Mba, quality assurance engineering,...",Chandigarh
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,Srikanth Bellup,Director,TeachR Robotics Pvt. Ltd,"mechatronics, robotics, Home Automation, iot, ...",Hyderabad / Secunderabad
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Noida
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",-
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",-

In [369]:
driver.close()

# Ques-8

Scrape the details of Highest selling novels.
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [44]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [45]:
#Saving the url
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [46]:
#opening the webpage
driver.get(url)

In [47]:
#creating the list to store the value extracted from web element
Name=[]
Author=[]
Volumes=[]
publisher=[]
genre=[]

In [52]:
#extracting the book name
name_=driver.find_elements_by_xpath("//td[2][@class='left']")

for i in name_:
    _mat=i.text
    #print(_mat)
    Name.append(_mat)

In [56]:
#extracting the authors name
auth_=driver.find_elements_by_xpath("//td[3][@class='left']")

for i in auth_:
    _mat=i.text
    #print(_mat)
    Author.append(_mat)

In [57]:
#extracting the Volumes_sold
vol_=driver.find_elements_by_xpath("//td[4][@class='left']")

for i in vol_:
    _mat=i.text
    #print(_mat)
    Volumes.append(_mat)

In [58]:
#extracting the Publisher name
publis_=driver.find_elements_by_xpath("//td[5][@class='left']")

for i in publis_:
    _mat=i.text
    #print(_mat)
    publisher.append(_mat)

In [61]:
#extracting the genre of the book
gen_=driver.find_elements_by_xpath("//td[6][@class='last left']")

for i in gen_:
    _mat=i.text
    #print(_mat)
    genre.append(_mat)

In [62]:
#checking the length of the list before importing to the dataframe
print(len(Name),len(Author),len(Volumes),len(publisher),len(genre))

100 100 100 100 100

In [63]:
#creatying the dataframe and storing the values in the dataframe
Books_df=pd.DataFrame({})

Books_df['Book_Name']=Name
Books_df['Authors_Name']=Author
Books_df['Volumes_Sold']=Volumes
Books_df['Publisher']=publisher
Books_df['Genre']=genre

Books_df

,Book_Name,Authors_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [64]:
driver.close()

# Ques-9

 Scrape the details most watched tv series of all time from imdb.com.
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [65]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [68]:
#saving the url
url="https://www.imdb.com/list/ls095964455/"

In [69]:
#oprning the webpage
driver.get(url)

In [70]:
#creating the list to store extracted elements
Name=[]
Year_Span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [73]:
#Extracting the name of the tv series
name_=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
name_[0:1]

for i in name_:
    _mat=i.text
    #print(_mat)
    Name.append(_mat)

In [84]:
#extracting the year span
y_s=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

for i in y_s:
    _mat=i.text
    #print(_mat)
    Year_Span.append(_mat)

In [79]:
#extracting the genere of the tv series
gen=driver.find_elements_by_xpath("//span[@class='genre']")

for i in gen:
    _mat=i.text
    #print(_mat)
    genre.append(_mat)

In [86]:
#extracting the runtime of the tv series
r_time=driver.find_elements_by_xpath("//span[@class='runtime']")

for i in r_time:
    _mat=i.text
    #print(_mat)
    run_time.append(_mat)

In [89]:
#extracting the ratings of the tv series
rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

for i in rate:
    _mat=i.text
    #print(_mat)
    ratings.append(_mat)

In [92]:
#extracting the no of votes
vote_=driver.find_elements_by_xpath("//span[@name='nv']")

for i in vote_:
    _mat=i.text
    #print(_mat)
    votes.append(_mat)

In [93]:
#checking the length of the list before importing to the dataframe
print(len(Name),len(Year_Span),len(run_time),len(ratings),len(genre),len(votes))

100 100 100 100 100 100

In [95]:
#creating dataframe and storing the values
tv_series_df=pd.DataFrame({})

tv_series_df['Name']=Name
tv_series_df['Year_Span']=Year_Span
tv_series_df['Genre']=genre
tv_series_df['Run_Time']=run_time
tv_series_df['Ratings']=ratings
tv_series_df['Votes']=votes

tv_series_df

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,738,442"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.8,"796,939"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"842,403"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"252,320"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"211,611"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"42,909"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,090"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"157,543"
98,Scream: The TV Series,(2015– ),"Crime, Drama, Horror",45 min,7.2,"33,663"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"176,498"

In [96]:
driver.close()

# Ques-10

Details of Datasets from UCI machine learning repositories.
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [97]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [98]:
#saving the url
url="https://archive.ics.uci.edu/ml/index.php"

In [99]:
#oprning the webpage
driver.get(url)

In [100]:
#creating the list to store extracted elements
Name=[]
Type=[]
Task=[]
Attribute=[]
no_of_instances=[]
no_of_attributes=[]
year=[]

In [103]:
#clicking the option view all datasets
driver.find_element_by_xpath("//a[@href='datasets.php']").click()

In [113]:
#Extracting the name of the dataset
name_=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
name_[0:1]


for i in name_:
    _mat=i.text
    #print(_mat)
    Name.append(_mat)

In [120]:
#Extracting the data type of the dataset
type_=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")


for i in type_:
    _mat=i.text
    #print(_mat)
    Type.append(_mat)

In [121]:
#Extracting the task to be performed on the dataset
task_=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")


for i in task_:
    _mat=i.text
    #print(_mat)
    Task.append(_mat)

In [122]:
#Extracting the Attributes of the dataset
Att_=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")


for i in Att_:
    _mat=i.text
    #print(_mat)
    Attribute.append(_mat)

In [123]:
#Extracting the no_instances present in the dataset
noi_=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")


for i in noi_:
    _mat=i.text
    #print(_mat)
    no_of_instances.append(_mat)

In [124]:
#Extracting the no_of_attributes present in the dataset
noa_=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")


for i in noa_:
    _mat=i.text
    #print(_mat)
    no_of_attributes.append(_mat)

In [125]:
#Extracting the year in which dataset was uploaded
year_=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")


for i in year_:
    _mat=i.text
    #print(_mat)
    year.append(_mat)

In [135]:
#checking the length of the list before importing to the dataframe
print(len(Name),len(Type),len(Task),len(Attribute),len(no_of_instances),len(no_of_attributes),len(year))

559 559 559 559 559 559 559

In [136]:
#creating tha database to store extracted values
uci_df=pd.DataFrame({})

uci_df['Data_set_name']=Name
uci_df['Data_types']=Type
uci_df['Default_task']=Task
uci_df['Attribute_Type']=Attribute
uci_df['no_of_instances']=no_of_instances
uci_df['no_of_attributes']=no_of_attributes
uci_df['Year']=year

uci_df

,Data_set_name,Data_types,Default_task,Attribute_Type,no_of_instances,no_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020

In [137]:
driver.close()